{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container mt-4">
        <h1><i class="fas fa-trophy mr-2"></i>Sports Blog</h1>
        {% if request.user.is_authenticated and request.user.teamprofile %}
            <a href="{% url 'create_post' %}" class="btn btn-primary"><i class="fas fa-plus mr-2"></i>New Post</a>
        {% endif %}
        <h2 class="mt-4"><i class="fas fa-list mr-2"></i>Posts</h2>
        {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p>Author: {% if post.author.username %}<a href="{% url 'user_profile' post.author.username %}">{{ post.author.username }}</a>{% else %}Anonymous{% endif %}</p>
                    <p>{{ post.content|truncatechars:100 }}</p>
                    <p><i class="fas fa-thumbs-up mr-1"></i>{{ post.likes.count }} likes | <i class="fas fa-thumbs-down mr-1"></i>{{ post.dislikes.count }} dislikes</p>
                    {% if request.user.is_authenticated %}
                        {% if request.user in post.likes.all %}
                            <a href="{% url 'like_post' post.id %}" class="btn btn-success"><i class="fas fa-thumbs-up"></i> Like</a> 
                        {% else %}
                            <a href="{% url 'like_post' post.id %}" class="btn btn-outline-success"><i class="fas fa-thumbs-up"></i> Like</a>
                        {% endif %}
                        {% if request.user in post.dislikes.all %}
                            <a href="{% url 'dislike_post' post.id %}" class="btn btn-danger"><i class="fas fa-thumbs-down"></i> Dislike</a>
                        {% else %}
                            <a href="{% url 'dislike_post' post.id %}" class="btn btn-outline-danger"><i class="fas fa-thumbs-down"></i> Dislike</a>
                        {% endif %}
                        {% for comment in post.comments.all %}
                        <div class="mt-2">
                            <p><strong>{{ comment.author.username}}:</strong> {{ comment.content }}</p>
                        </div>
                        {% endfor %}
        
                        <form method="post" action="{% url 'create_comment' post.id %}" class="mt-2">
                            {% csrf_token %}
                            {{ CommentForm }}
                            <button type="submit" class="btn btn-primary"><i class="fas fa-comment mr-2"></i>Comment</button>
                        </form>
                        {% if request.user.is_superuser %}
                            <a href="{% url 'delete_post' post.id %}" class="btn btn-outline-danger mt-2"><i class="fas fa-trash mr-2"></i>Delete</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
