{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Sports Blog</h1>
    {% if request.user.is_authenticated and request.user.teamprofile %}
        <a href="{% url 'create_post' %}">New Post</a>
    {% endif %}
    <h1>Posts</h1>
    {% for post in posts %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>Author: {% if post.author.username %}<a href="{% url 'user_profile' post.author.username %}">{{ post.author.username }}</a>{% else %}Anonymous{% endif %}</p>
            <p>{{ post.content|truncatechars:100 }}</p>
            <p>{{ post.likes.count }} likes | {{ post.dislikes.count }} dislikes</p>  {# Update this line #}
            {% if request.user.is_authenticated %}
                <a href="{% url 'like_post' post.id %}">Like</a> | <a href="{% url 'dislike_post' post.id %}">Dislike</a>
                {% for comment in post.comments.all %}
                <div class="comment">
                    <p>{{ comment.user.username }}: {{ comment.content }}</p>
                </div>
                {% endfor %}
        
    
                    <form method="post" action="{% url 'create_comment' post.id %}">
                        {% csrf_token %}
                        {{ CommentForm }}
                        <button type="submit">Comment</button>
                    </form>
                    {% if request.user.is_superuser %}
                    | <a href="{% url 'delete_post' post.id %}">Delete</a>
                    {% endif %}
            {% endif %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}
